@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* background-color: #0d0d1a; */
  background: radial-gradient(#0d0d1a 65%, #00004e);
  color: white;
  background: grad;  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20%;
}

.text-section {
  display: flex;
  margin: 3rem 0;
  align-items: center;
}

.text-section h1 {
  font-size: 6rem;
  line-height: 1.2;
  text-shadow: 5px 5px 2px #1c1c5e;
}

.text-section span {
  font-weight: bold;
  color: white;
  
}

.text-section p {
  margin-top: 1rem;
  font-size: 1.25rem;  
}

.button button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  margin: 1.5rem 0;
  font-size: 1.8rem;
  border: 2px solid white;
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Press Start 2P", system-ui;
  text-shadow: 5px 5px 2px #1c1c5e;
  transition: all 0.2s ease-in-out;  
}
.button button:hover {
  transform: scale(1.02);
}


.links {
  display: flex;
  gap: 2rem;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Press Start 2P", system-ui;
  text-shadow: 5px 5px 2px #1c1c5e;
  transition: transform 0.3s ease-in-out;
}
.links a:hover {
  transform: scale(1.1);
}

.image-section img {
  border-radius: 50%;
  max-width: 320px;
  width: 100%;
  height: auto;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 27, 0.918));
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popup-content {
  background: rgba(255, 255, 255, 0.850);
  color: #000036;
  padding: 2rem;
  max-width: 850px;
  width: 85%;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px #000036 solid;
}
.popup-content h2 {
  font-family: "Press Start 2P", system-ui;
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.popup-content p {
 text-align: justify;
 text-indent: 20px;
 margin: 15px 40px;
 line-height: 1.5;
 font-size: 1.2rem;
 justify-content: center;
}

.popup-content a {
  color: #000036;
  font-size: 4rem;
  margin: 0 1rem;
}
.popup-content a:hover {
  color: #000036e7;
}

.popup-content .close {
  position: absolute;
  top: 5px;
  right: 25px;
  cursor: pointer;
  font-size: 5rem;
}

.hidden {
  display: none;
}

canvas#spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


#footer {   
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;  
  z-index: 100;
  text-align: center;  
}
.text-footer {
  justify-content: center;
  text-align: center;
  font-size: 13px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 27, 0.918));
  animation: aparecerFooter 5s ease-out;
}

@keyframes aparecerFooter {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

/* RESPONSIVIDADE */

/* Responsividade para telas menores que 1200px (tablets grandes e notebooks pequenos) */
@media (max-width: 1300px) {
  .container {
    padding: 0 10%;
  }

  .text-section h1 {
    font-size: 4rem;
  }

  .button button {
    font-size: 1.4rem;
  }

  .text-section .links a {
    font-size: 1.2rem;
  }

  .image-section img {
    max-width: 280px;
  }  
  .text-footer {
    font-size: 0.8rem;
  }
}



/* Responsividade para tablets médios */
@media (max-width: 992px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1.8em;
    height: auto;
  }

  .image-section {
    margin-top: 2rem;
  }
  .text-section {
    flex-direction: column;
  }
  .text-section h1 {
    font-size: 2.5rem;
  }

  .text-section p {
    font-size: 1.1rem;
  }

  .button button {
    font-size: 1.5rem;
    margin: 2.2rem 0;
  }
  .links a {
    font-size: 1.2rem;
  }
  .links {
    justify-content: center;
    gap: 2rem;
  }

  .image-section img {
    max-width: 300px;
  }
  .text-footer {
    font-size: 0.7rem;
  }
}

/* Responsividade para celulares grandes */
@media (max-width: 768px) {
  .text-section {
    flex-direction: column;
  }
  .text-section h1 {
    font-size: 2.5rem;
  }

  .text-section p {
    font-size: 1.5rem;
  }

  .button button {
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
  }

  .links {
    gap: 2rem;
  }

  .links a {
    font-size: 1.2rem;
    
  }
  .popup-content {
    padding: 1.2rem;
    font-size: 1.2rem;
  }
  .popup-content p {
    font-size: 1.5rem;
    margin: 15px 0;
  }

  .image-section img {
    max-width: 300px;
  }
  .text-footer {
    font-size: 0.7rem;
  }
}

/* Responsividade para celulares pequenos */
@media (max-width: 520px) {
  .container {
    justify-content: space-between;
  }
  .text-section {
    flex-direction: column;
    margin: 0;
  }

  .text-section h1 {
    font-size: 2rem;
  }

  .text-section p {
    font-size: 1.3rem;
  }

  .button button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }

  .links {
    gap: 1.5rem;
  }

  .links a {
    font-size: 1rem;    
  }

  .image-section img {
    max-width: 220px;
  }

  .popup-content {
    padding: 1rem;
    font-size: 0.8rem;
  }
  .popup-content h2 {
    font-size: 1.5rem;
  }
  .popup-content p {
    font-size: 1rem;
    margin: 10px 0;
  }
  .popup-content a {
    font-size: 3rem;
  }

  .popup-content .close {
    font-size: 3.5rem;
  }
  .text-footer {
    font-size: 0.5rem;
  }
}
/* Menor ainda */
@media (max-width: 320px) {
    .container {
    justify-content: space-between;
  }
  .text-section {
    flex-direction: column;
    margin: 0;
  }

  .text-section h1 {
    font-size: 1.5rem;
  }

  .button button {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
  }

  .links {
    gap: 1.5rem;
  }

  .links a {
    font-size: 0.9rem;    
  }

  .image-section img {
    max-width: 220px;
  }

  .popup-content {
    padding: 1rem;
    font-size: 0.8rem;
  }
  .popup-content h2 {
    font-size: 1.5rem;
  }
  .popup-content p {
    font-size: 1rem;
    margin: 10px 0;
  }
  .popup-content a {
    font-size: 3rem;
  }

  .popup-content .close {
    font-size: 3.5rem;
  }
  .text-footer {
    font-size: 0.4rem;
  }

}
